// fonts
$primary-font: 'Roboto Slab', serif;
$secondary-font: 'Roboto', sans-serif;

// colors
$primary-color: #6C933E;
$secondary-color: #D9E4CC;
$third-color: #4A4A4A;
$white-color: #fff;
$black-color: #000;


/*roboto regular para textos weight:400 */
/*roboto medium para texto botones weight:500*/
/*roboto slab para titulares weight: 700*/
    
    
