nav {
  width: 37px;
  height: 37px;
  background-color: #76b63b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  font-weight: 900;
  width: 13px;
  height: 13px;
  color: white;
}

.header{ 
  background: url('/images/cover.jpeg') center/cover no-repeat;
  height: 100vh;      
}

.fa-circle-chevron-down  {
  color: #ffffff;
  font-size: 38px;
}
