.historias{
    padding-top: 34px;
    &__title{
        font-family: $secondary-font;
        font-weight: 400;
        font-size: 0.875em;
        color: $primary-color;
        padding-bottom: 10px;


    }
    &__subtitle{
        font-family: $primary-font;  
        font-size: 1.375em;
        color: $black-color;
        padding-bottom: 20px;
        
    }
    &__content{
        font-family: $secondary-font;
        font-weight: 300;
        font-size: 1.125em;
        color: $third-color;
        line-height: 1.6em;
        padding-bottom: 50px;

    }
}