<aside class="vueltaCole" id="sectionVueltaCole">
    <h2 class="vueltaCole__title">¡Prepáralos con tus marcas favoritas!</h2>
    <h3 class="vueltaCole__subtitle">VUELTA AL COLE</h3>
    <div class="vueltaCole__content">
        <div class="banner">
            <img class="banner__images" src="/images/img-01.png" alt="Mochilas escolares">
            <p class="banner__p">Mochilas escolares</p>
        </div>
        <div class="banner">
            <img class="banner__images" src="/images/img-02.png" alt="Estuches">
            <p class="banner__p">Estuches</p>
        </div>
        <div class="banner">
            <img class="banner__images" src="/images/img-03.png" alt="Bolsas de deporte">
            <p class="banner__p">Bolsas de deporte</p>
        </div>
    </div>
    <a class="button button__green" href="https://www.adalab.es" target="_blank">Empezar ahora</a>
</aside>