<footer class="footer">
  <a href="#sectionHome">
    <div class="footer__img">
      <img src="/images/ico-arrow.svg" alt="Go to the top of page">
    </div>
  </a>
  <div class="modules">
    <div class="modules__one">
      <p>&copy;2023</p>
      <p>we <span>❤</span> run</p>
    </div>

    <div class="modules__two">
      <a href="https://adalab.es/" target="_blank">ZAPATILLAS</a>
      <a href="https://adalab.es/" target="_blank">ROPA</a>
      <a href="https://adalab.es/" target="_blank">NIÑA/O</a>
      <a href="https://adalab.es/" target="_blank">DESTACADOS</a>
      <a href="https://adalab.es/" target="_blank">TIPS</a>
    </div>

    <div class="modules__three">
      <a href="https://adalab.es/" target="_blank">TWITTER</a>
      <a href="https://adalab.es/" target="_blank">INSTAGRAM</a>
      <a href="https://adalab.es/" target="_blank">YOUTUBE</a>
    </div>
  </div>
</footer>