<section class="historias">
    <h2 class="historias__title">HISTORIAS, MODA Y ROPA DEPORTIVA</h2>
    <h3 class="historias__subtitle">TU TIENDA DE DEPORTE</h3>
    <p class="historias__content">El deporte nos mantiene en forma. Nos mantiene alerta. Nuestra ropa deportiva para
        hombre y mujer te ofrece
        las últimas tecnologías, a la altura de tu rendimiento, para que superes tu mejor marca personal.</p>
    <a class="button button__white" href="https://www.adalab.es" target="_blank">
        <div class="button__div">
            <span class="button__div__span1">Comprar</span>
            <span class="button__div__span2">Comprar</span>
        </div>
    </a>
</section>